.home-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-content ul {
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  .home-content {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }

  li {
    font-size: 14px;
  }
}